.container {
  background-color: var(--pale-yellow);
  border-radius: 20px;
  padding: 20px;
  border: 3px solid black;
  box-shadow: 4px 4px 0 0 black;
  display: grid;
  gap: 15px;
}

.image {
  height: 150px;
  object-fit: contain;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.title {
  text-align: center;
  color: var(--dark-purple);
}

.title,
.price,
.addToCartButton {
  font-weight: bold;
}

.price {
  width: max-content;
  margin-right: 10px;
}

.description {
  font-size: 0.8rem;
}

.priceQuantityContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.priceQuantityContainer,
.addToCartButton {
  align-self: end;
}

.quantity {
  display: flex;
  gap: 15px;
  align-items: center;
}

.addendQuantity {
  width: 50px;
  padding: 3px 5px;
  border-radius: 5px;
  border: 2px solid black;
}

.addToCartButton {
  height: min-content;
  cursor: pointer;
  justify-self: center;
  width: max-content;
  border-radius: 10px;
  padding: 5px 10px;
  border: 2px solid black;
  box-shadow: 3px 3px 0 0 black;
  transition: all 0.1s ease-out;
  background-color: var(--green);
}

.addToCartButton:hover {
  background-color: var(--orange);
}

.addToCartButton:active {
  transform: translate(3px, 3px);
  box-shadow: none;
}
