.container {
  position: relative;
}

.cart {
  max-width: 35px;
}

.count {
  position: absolute;
  top: 5px;
  left: 13px;
  font-size: 12px;
  background-color: red;
  padding: 2px 5px;
  border-radius: 50%;
  color: white;
}
