.container {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cart {
  max-width: 35px;
}

.count {
  position: absolute;
  min-width: 15px;
  top: 5px;
  left: 13px;
  font-size: 10px;
  background-color: var(--red);
  padding: 3px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
