.container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-template-rows: min-content;
  gap: 30px;
  background-color: var(--light-purple);
}
