.header {
  background-color: var(--orange);
  display: flex;
  padding: 8px 20px;
  border-bottom: 3px solid black;
}

.logo {
  width: 50px;
  margin-right: auto;
}

.navLinks {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navLinks a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  display: grid;
  color: black;
}

.navLinks a:nth-child(-n + 2):hover::after {
  content: "_____";
  position: absolute;
  top: 10%;
  transform: scaleY(3);
  animation: expand-underline 0.3s;
}

@keyframes expand-underline {
  from {
    transform: scaleX(0) scaleY(3);
  }
  to {
    transform: scaleX(1) scaleY(3);
  }
}
