.header {
  background-color: var(--orange);
  display: flex;
  padding: 8px 20px;
}

.logo {
  width: 50px;
  margin-right: auto;
}

.navLinks {
  display: flex;
  gap: 20px;
  align-items: center;
}
