.homePageLayout {
  overflow: hidden;
  position: relative;
  background-color: var(--pale-yellow);
}

.heroImage {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  object-position: 100% 80%;
}
